body {
	background-image: url(https://i.pinimg.com/originals/f8/10/38/f8103819da656ccffb9dd9906832a251.jpg);
}
h1{
	text-shadow: 2px 2px 5px blue; 
	background-color: #00ff00;
	text-align:center;
	color:white;
}
img{
	width:200;
	height:200;
}
p{
	text-align: center
}
a{
	
	color:black;
}
h2{
	color:white;

}