h1{
	text-shadow: 2px 2px 5px blue; 
	background-color: #00ff00;
	text-align:center;
	color:white;
}
img{
	width:200;
	height:200;
}
p{
	text-align: center
}
a{
	color:black;
}
h2{
	color:white;

}
body{

	background-image: url(https://s-sd.ru/images/cms/thumbs/a5b0aeaa3fa7d6e58d75710c18673bd7ec6d5f6d/animfon_1200_auto_jpg.jpg);
}